#root {
  
  margin: 0 auto;
 
  text-align: center;
  width: 100%;
  height: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.products { 
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  border-color: black;
  border-style: solid;
  height: 350px;
  
  width: 300px;
  min-width: 200px;

}

.products img {
  height: 150px;
  width: 150px;

}

.read-the-docs {
  color: #888;
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  width: 100%;
  height: 200vh;
  flex-direction: column;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.holder {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  height: 90%;
  /*margin: 50px 50px 50px 50px;*/
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  flex-wrap: wrap;

  gap : 20px;
  

} 
/* 
.holder > * {
  flex: 0 0 auto; 
  width: calc(13% - 10px);
} */

.navigator {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;               
  background-color: #2c3e50;
  padding: 1rem;
  font-family: sans-serif;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0%;
}

.navigator a {
  text-decoration: none;   /* Removes underline */
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navigator a:hover {
  color: #3498db;          /* Changes color when hovering */
}

.slider  {
  position: relative;
  top :60px;
  width: 60%;
  height: 800px;
} 

.icon-button {
  background: transparent;
  border: none;
  padding: 10px;
}

.icon-button .icon {
  cursor: pointer;
  display: inline-flex;
}